<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="CheminBatchSucces" value="C:\Users\BENNANI Zakaria\Source\repos\McDonalds\ExecutionWPF\batchExample.bat"/>
    <add key="CheminBatchError" value="C:\Users\BENNANI Zakaria\Source\repos\McDonalds\ExecutionWPF\batchExampleError.bat"/>
    <add key="isFeatureLockScreen" value="false"/>  <!--true = oui, false = Ignoer Hotkeys-->

  </appSettings>
</configuration>